<head>
    <title>Monash Cancer Institute</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="{{ url_for('static',filename='styles/about.css') }}" rel="stylesheet" type="text/css" media="all">
</head>
<div class="bgded overlay padtop" style="background-color: lightblue;"> 
<div class="about-section">
    <button type = "button" > <a href="{{ url_for('home') }}">Home</a></button>

    <h1>About Us </h1>
    <p>Jack Ooi, Vionnie Tan, Elaine Liong</p>
    <p>We are final year students from Monash University studying in Data Science.</p>
    <p>This website is created for our final year project.</p>
    <p>The Model implemented is not 100% accurate, please refer to your personal doctor for clarification.</p>
</div>
