<head>
    <title>Monash Cancer Institute</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="{{ url_for('static',filename='styles/about.css') }}" rel="stylesheet" type="text/css" media="all">
</head>
<div class="bgded overlay padtop" style="background-color: lightblue;"> 

<div class="about-section">
    <button type = "button" > <a href="{{ url_for('home') }}">Home</a></button>

    <h1>Instructions to use</h1>
    <p>Please login or sign up if you have or do not have an account on our website</p>
    <p>This website only allow singular image submission</p>
    <p>The website only allow image with extension jpg, jpeg and png</p>
    <p>i) Fill up all the questions on the homepage for further references</p>
    <p>ii) Upload a single image of your medical scan image and press submit</p>
    <p>iii) After submit, you should be able to view your prediction result</p>
    <p></p>
    <p>Please reload our website homepage if you wish to predict another image</p>
    <p>Please only submit medical image (SVS images)</p>



</div>